<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="mainCtrl">
  
  <div class="tree">
    <ul class="tree-root" id="treeRoot" ng-include="'treeTemplate'" ng-init="node = treeData">
      
    </ul>
  </div>

  <script type="text/ng-template" id="treeTemplate">
    <li ng-repeat="nd in node" ng-class="{'hide-node': !nd._hide_}">
      <a ng-click="nd._hide_ = !nd._hide_" ng-class="{'tree-collapse': nd.children && nd.children.length > 0}" href="javascript:void(0)">{{ nd.name }}</a>
      <ul ng-if="nd.children && nd.children.length > 0" class="tree-group" ng-init="node = nd.children" ng-include="'treeTemplate'">
        
      </ul>
    </li>
  </script>
  <script type="text/javascript" src="http://cdn.bootcss.com/angular.js/1.3.14/angular.min.js"></script>
  <script type="text/javascript" src="treeData.js"></script>
  <script type="text/javascript" src="tree-angular.js"></script>
</body>
</html>